@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #071917;
  }
/********** header ******************/
.header {
    background: transparent; 
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo img {
    background: transparent; 
    /* padding: 15px; */
}


.div__menu {
    background: transparent; 
    /* padding: 15px; */
}
.ul__menu {
    background: transparent; 
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    background: transparent; 
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul__menu li a{
    background: transparent; 
    color: var(--font-color-1);
    text-decoration: none;
}

/********** main ******************/
.main {
    /* background: red; */
    /* padding: 20px; */
}
.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
    /*padding: 20px; */
}
.article__home {
    background: transparent; 
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article__home span{
    background: transparent; 
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    background: transparent; 
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{
    background: transparent; 
    width: 320px;
    font-family: "Montserrat-Medium";
    font-size: 20px;
}
/************* section menu **********************/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}

.section__icon img{
    /* background: violet; */
}
#my_about img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120svh;
    margin: 0 auto;
    position: absolute;
    top: 75svw;
}
#my_about h2 {
  font-size: 40px;
  font-family: "Montserrat-SemiBold";
  color: var(--font-color-1);
  position: absolute;
  top: 130svw;
  left: 5svw;
}
.third-image img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120svh;
  margin: 0 auto;
  position: absolute;
  top: 140svw;
}
.third-image h2 {
  background-color: transparent;
  font-size: 40px;
  font-family: "Montserrat-SemiBold";
  color: var(--font-color-1);
  z-index: +1;
  position: absolute;
  top: 195svw;
  left: 5svw;
}
.four-image img{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120svh;
  margin: 0 auto;
  position: absolute;
  top: 205svw;
}
.four-image h2 {
  background-color: transparent;
  font-size: 40px;
  font-family: "Montserrat-SemiBold";
  color: var(--font-color-1);
  z-index: +1;
  position: absolute;
  top: 260svw;
  left: 5svw;
}
.latest-blog-area h1{
    color: var(--font-color-1);
    font-family: "Montserrat-Medium";
    font-size: 45px;
    position: absolute;
    top: 266svw;
    left: 5svw;
    z-index: +1;
}
.blog-container {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    position: absolute;
    top: 270svw;
    overflow-x: auto; /* Habilita el scroll horizontal */
    padding-bottom: 10px; 
  }
  
  .blog {
    flex: 0 0 auto; /* Evita que los elementos se reduzcan automáticamente */
    width: 385px;
    height: 627px;
    background-color: #145e2a;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
  }
  
  .blog img {
    width: 100%;
    border-radius: 20px;
  }
  
  .blog h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 28px;
    margin: 10px 0;
    color: white;
    background: transparent;

  }
  
  .blog p {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    background: transparent;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  
  .blog button {
    width: 145px;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
  }
.info-redes{
    position: absolute;
    top: 310svw;
    left: 50%;
  }

/************** version movil **********************/
@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
        width: 105%;
        
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    #my_about img{
      width: 105%;
      height: 180svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-left: 2svw;
      position: absolute;
      top: 110svh;
    }
    #my_about h2 {
      font-size: 30px;
      font-family: "Montserrat-SemiBold";
      background-color: transparent;
      color: var(--font-color-1);
      z-index: +1;
      position: absolute;
      top: 350svw;
      left: 5svw;
    }
    .third-image img {
      width: 97%;
      height: 160svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 220svh;
      }
    .third-image h2 {
      font-size: 30px;
      font-family: "Montserrat-SemiBold";
      background-color: transparent;
      color: var(--font-color-1);
      z-index: +1;
      position: absolute;
      top: 520svw;
      left: 5svw;
      }
    .four-image img {
      width: 97%;
      height: 160svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 320svh;
      }
    .four-image h2 {
        font-size: 30px;
        font-family: "Montserrat-SemiBold";
        background-color: transparent;
        color: var(--font-color-1);
        z-index: +1;
        position: absolute;
        top: 700svw;
        left: 5svw;
      }
    .latest-blog-area h1{
        font-size: 25px;
        position: absolute;
        top: 726svw;
        left: 5svw;
        z-index: +1;
    }
    .blog-container {
        width: 100%;
        display: flex;
        gap: 20px;
        justify-content: center;
        overflow-x: auto; 
        padding-bottom: 10px; 
        position: absolute;
        top: 735svw;
        left: 5svw;
      }
    .info-redes{
        position: absolute;
        top: 890svw;
        left: 30%;
    }


    }

@media (max-width: 576px) {
    .header{
        /* background: blue; */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
    #my_about img{
      width: 103%;
      height: 180svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 110svh;
    }
    .third-image img {
      width: 103%;
      height: 160svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 220svh;
      }
    .four-image img {
      width: 103%;
      height: 160svw;
      min-height: 300px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 320svh;
      }
}