<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/views/css/blogStyle.css">
    <title>blog</title>
</head>
<body>
    <!-- header -->
    <header class="header">
        <div class="div__logo">
            <img src="/views/storage/img/small-image.png" class="logo">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="#recient__post">Blog</a></li>
                <li><a href="#my_about">About</a></li>
                <li><a href="#my_contact">Contact</a></li>
            </ul>
        </div>
        <div class="header-vectors">
            <img src="/views/storage/img/Vector1.png">
            <img src="/views/storage/img/Vector2.png">
        </div>
        
    </header>
    <!-- main -->
     <main class="main">
        <section class="section__home">
            <div class="lineTop">
                <img src="/views/storage/img/Line-Top.png">
            </div>
            <div class="Latest-Blog-button">
                <li><a href="/index.html">Latest Blog</a></li>
            </div>
            <div class="second__menu">
                    <li><a href="#">Urban Planning</a></li>
                    <li><a href="#">Graphics Design</a></li>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">UX/UI Design</a></li>
                    <li><a href="#">Technology</a></li>
                </ul>
            </div>
        </section>
        <section>
            <img src="/views/storage/img/top-image.png" class="principal__image">
                <div class="top__blog__text">
                <h3>Urban Planning</h3>
                <h2>Lörem ipsum europlande krohiskap
                    panstik, förväntis.  </h2>
                <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
                <a href="#">Read More</a>
            </div>
        </section>
        <section id="recient__post">
            <h1>Recent Posts</h1>
        </section>
        <section class="blog__container1">
            <div class="blog">
                <img src="storage/img/imageBlog1.png"  class="image-blog1">
                <h1>Lörem ipsum patt kar i renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
            <div class="blog">
                <img src="storage/img/imageBlog2.png">
                <h1>Lörem ipsum patt kar i <br>renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
            <div class="blog">
                <img src="storage/img/imageBlog3.png">
                <h1>Lörem ipsum patt kar i renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
        </section>
        <section class="blog__container2">
            <div class="blog">
                <img src="storage/img/imageBlog4.png"  class="image-blog1">
                <h1>Lörem ipsum patt kar i renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
            <div class="blog">
                <img src="storage/img/imageBlog5.png">
                <h1>Lörem ipsum patt kar i <br>renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
            <div class="blog">
                <img src="storage/img/imageBlog6.png">
                <h1>Lörem ipsum patt kar i renyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig      sana,nuktigt i mandatpingis tes. Analigt anede. Arat   lagen</p>
                <button>Read More</button>
            </div>
        </section>
        <section class="final__section">
            <h1>daily blog</h1>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
            <img src="/views/storage/img/redes.png">
        </section>
     </main>
     <footer>
        <p>© 2023 dailyblog. All rights reserved.</p>
     </footer>
</body>
</html>