@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #071917;
  }

  .header {
    /*background: red; 
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo img {
    background: transparent; 
    /* padding: 15px; */
}

.div__menu {
    background: transparent; 
    /* padding: 15px; */
}
.ul__menu {
    background: transparent; 
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 200px;
    color: var(--font-color-1);
}
.ul__menu li{
    background: transparent; 
    list-style: none;
    font-family: "Montserrat-SemiBold";
    font-size: 18px;
}
.ul__menu li a{
    background: transparent; 
    color: var(--font-color-1);
    text-decoration: none;
}
.header-vectors{
    padding: auto;
    position: absolute;
    right: 5svw;
}
.lineTop img {
    padding-top: 80px;
    display: flex;
    justify-items: center;
    margin: 0 auto;
}
.Latest-Blog-button{
    width: 113px;
    height: 28px;
    list-style: none;
    text-decoration: none;
}
.Latest-Blog-button a{
    width: 113px;
    height: 28px;
    list-style: none;
    text-decoration: none;
    background-color: #145e2a;
    color: var(--font-color-1);
    text-align: center;
    padding: 5px;
    position: absolute;
    top: 5svw;
    left: 10svh;
}
.second__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    list-style: none;
    gap:25px;
}
.second__menu a {
    font-family: "Montserrat-Light";
    font-size: 15px;
    color: var(--font-color-1);
    text-decoration: none;
}
.principal__image {
    padding-top: 2svw;
    padding-left: 5.5svw;
    height: 80svh;
}
.top__blog__text {
    width: 672px;
    height: 470px;
    background: #145e2aab;
    color: var(--font-color-1);
    padding: 25px;
    border-radius: 30px;
    position: absolute;
    top: 25svh;
    left: 58svw;

}
.top__blog__text h3{
    background: transparent;
    font-family: "Montserrat-Light";
    font-size: 28px;
}
.top__blog__text h2{
    background: transparent;
    font-family: "Montserrat-SemiBold";
    font-size: 28px;
    padding-top: 6svw;
}
.top__blog__text p{
    background: transparent;
    font-family: "Montserrat-Medium";
    font-size: 25px;
    padding-top: 1svw;
}
.top__blog__text a{
    width: 197px;
    height: 35px;
    background: #d9d9d9;
    color: var(--color-gradient-2);
    display: flex;
    justify-content: center;
    border-radius: 25px;
    font-family: "Montserrat-Light";
    font-size: 24px;
    padding-top: 5svw;
    text-decoration: none;
    text-align: center;
    padding: 5px;
    position: absolute;
    left: 35%;

}
#recient__post h1{
    font-family: "Montserrat-Medium";
    font-size: 28px;
    color: #ffffff;
    padding-top: 3svw;
    padding-left: 10svw;
}
.blog__container1 {
    display: flex;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 55svw;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: auto; /* Habilita el scroll horizontal */
}

.blog {
    width: 385px;
    height: 627px;
    background-color: #145e2a;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 8px #000000;
}
  
.blog img {
    width: 100%;
    border-radius: 20px;
}

.blog h1 {
    font-family: "Montserrat-SemiBold";
    font-size: 28px;
    margin: 10px 0;
    color: white;
    background: transparent;
}

.blog p {
    font-family: "Montserrat-Regular";
    font-size: 20px;
    background: transparent;
    color: white;
    margin-top: 25px;
    margin-bottom: 50px;
}

.blog button {
    width: 145px;
    height: 45px;
    background-color: #d9d9d9;
    border-radius: 24px;
    cursor: pointer;
    font-size: 1rem;
    color: #000000;
}
.blog__container2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    position: absolute;
    top: 92svw;
    left: 50%;
    transform: translateX(-50%);
    overflow-x: auto; /* Habilita el scroll horizontal */
}
.final__section {

    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 77svw;
}
.final__section h1{
    font-family: "Montserrat-Bold";
    font-size: 28px;
}
.final__section p{
    width: 855px;
    font-family: "Montserrat-Regular";
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 4svw;

}
.final__section img {
    padding-bottom: 4svw;

}

